<ul class="list-group">
    $for(posts)$
    <li class="list-group-item">
        <div class="list-group-item-heading text-center">
            <a href="$url$">
                $title$
            </a>
        </div>
        <p class="list-group-item-text">
            $description$
        </p>
        <div class="row">
            <span class="date col-md-5 text-left">
                <i class="fa fa-calendar"></i> Posted on $date$
            </span>
            <span class="tags text-right" style="width: 100%">
                $tags$
            </span>
        </div>
    </li>
    $endfor$
</ul>